td.banner-warn {
    width: 42px;
    padding-left: 7px;
    padding-right: 3px;
    margin: 0px;
    vertical-align: middle !important;
}

.banner-warn .avatar {
    border-radius: 50%;
    width: 32px; height: 32px;
    text-align: center;
    vertical-align: middle;
    font-size: 1.2em;
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    line-height: 32px;
    background: currentColor;
    position: relative;
}
.banner-warn .avatar > img {
    vertical-align: top !important;
    object-fit: cover;
    max-height: calc(100% + 2px);
    max-width: calc(100% + 2px);
    margin: -1px;
    border-radius: inherit;
}

.banner-warn .avatar.warn {
    border-radius: 0;
    height: 18.48px;
    line-height: 18.48px;
}
.banner-warn .avatar.warn:before, .banner-warn .avatar.warn:after {
    content: "";
    position: absolute;
    width: 0;
    left: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
}
.banner-warn .avatar.warn:before {
    bottom: 100%;
    border-bottom: 9.24px solid currentColor;
}
.banner-warn .avatar.warn:after {
    top: 100%;
    border-top: 9.24px solid currentColor;
}

.banner-warn .avatar.alert {
    border-radius: 0;
}

