<?php

$config = array();

// Regex to match against the email to determine if from your organization
$config['org_email_regex'] = "/@(.*\.|)iitb\.ac\.in/i";

// Turn on letter avatars
$config['avatars'] = true;

// Add a red border to external emails on avatar
$config['avatars_external_border'] = true;

